<!-- <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-secondary btn-sm dropdown-toggle">
        Mudar Canal <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem" *ngFor="let channel of channels">
            <a class="dropdown-item">{{channel.name}}</a>
        </li>        
    </ul>
</div> -->

<div class="btn-group">
    <ng-select
        [items]="items"
        bindLabel="name"
        bindValue="id"
        placeholder="Selecione um canal"
        [(ngModel)]="selectedChannelId">
    </ng-select>
</div>
