<app-nav componentName="Produção da máquina"></app-nav>
<div class="container-fluid">
  <div class="row">
    <app-menu linkActive="machineproduction"></app-menu>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom margin-top-45">
        <div class="btn-toolbar" role="toolbar">
          <div class="form-row">
            <div class="col-md-4">
              <dropdown-dwmy></dropdown-dwmy>
            </div>
            <div class="col">
              <dropdown-channel [listAll]="false"></dropdown-channel>
            </div>
            <div class="col">
              <dropdown-machine></dropdown-machine> 
            </div>                   
          </div>                       
        </div>   
        
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
              Próxima atualização: {{timerStr}}
          </div>
        </div>
      </div>

      <div class="row" style="margin-bottom:10px">
        <div class="col-12">
          <app-machine-production-chart></app-machine-production-chart>    
        </div> 
      </div>      

      <div class="row" style="margin-bottom:10px">
        <div class="col-12">
          <gauge-shift-oee></gauge-shift-oee>
        </div> 
      </div>         

      <div class="row" style="margin-bottom:10px">
        <div class="col-12">
          <app-machine-production-chart-pause-pareto></app-machine-production-chart-pause-pareto>    
        </div> 
      </div>        

      <div class="row">
          <div class="col-6">
            <app-machine-production-nominal></app-machine-production-nominal>    
          </div>            
          <div class="col-6">
            <app-machine-production-pauses></app-machine-production-pauses>    
          </div>     
        </div>         
    </main>
  </div>
</div>
