<app-nav></app-nav>
<div class="container-fluid">
  <div class="row">
    <app-menu linkActive="machine"></app-menu>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <h2>Máquinas cadastradas</h2>
      <div class="table-responsive">
        
        <ag-grid-angular #agGrid
          style="width: 100%; height: 500px;"
          id="myGrid"
          class="ag-theme-balham"
          [columnDefs]="columnDefs"
          [enterMovesDownAfterEdit]="true"
          [enterMovesDown]="true"
          [editType]="editType"
          (gridReady)="onGridReady($event)"
          enableColResize
          enableSorting
          enableFilter 
        ></ag-grid-angular>        

      </div>
    </main>
  </div>
</div>
