<div class="text-center">
    <form class="form-signin" name="form" (ngSubmit)="f.form.valid && login($event)" #f="ngForm" novalidate>
        <img class="mb-4" src="./assets/imgs/logo.png" alt="" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Faça o login</h1>
        
        <label for="username" class="sr-only">E-mail</label> 
        <input 
            name="username" 
            [(ngModel)]="user.username" 
            #username="ngModel" 
            type="email" 
            class="form-control"
            placeholder="E-mail"
            required autofocus
            [disabled]="loading">
        
        <label for="password" class="sr-only">Senha</label>
        <input 
            name="password" 
            [(ngModel)]="user.password" 
            type="password" 
            class="form-control" 
            placeholder="Senha" 
            required
            [disabled]="loading">

        <button 
            [disabled]="loading || !f.form.valid" 
            class="btn btn-lg btn-primary btn-block" 
            type="submit">
            <span [ngStyle]="{'display': loading ? 'none' : 'block'}">Entrar</span>
            <fa name="spinner" animation="spin" [ngStyle]="{'display': loading ? 'block' : 'none'}"></fa>
        </button>        
        
        <div *ngIf="message" class="alert alert-danger alert-margin">{{message}}</div>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
</div>