<app-nav componentName="Canais cadastrados"></app-nav>
<div class="container-fluid">
  <div class="row">
    <app-menu linkActive="channel"></app-menu>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 margin-top-45">
      <div class="row margin-bottom-5px">        
        <div class="col-md-12 order-md-1">

          <div id="accordion" role="tablist" aria-multiselectable="true" [ngStyle]="{'display': currentUser.admin == 1 ? 'block' : 'none'}">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                <h6 class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Adicionar canal
                  </a>
                </h6>
              </div>
              <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block padding-10px">
                  <form 
                    name="form" 
                    (ngSubmit)="f.form.valid && add($event)" #f="ngForm" novalidate 
                    class="needs-validation">

                    <div class="row">
                      <div class="col-md-3 mb-3">
                        <label for="code">Nome</label>
                        <input 
                          name="name" 
                          [(ngModel)]="channel.name" 
                          #code="ngModel"
                          type="text"
                          class="form-control form-control-no-border"
                          required autofocus>
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="description">Descrição</label>
                        <input 
                          name="description" 
                          [(ngModel)]="channel.description" 
                          #code="ngModel" 
                          type="text" 
                          class="form-control form-control-no-border">
                      </div>                       
                      <div class="col-md-3 mb-3">
                        <label for="token">Token</label>
                        <input 
                          name="token" 
                          [(ngModel)]="channel.token" 
                          #code="ngModel" 
                          type="text" 
                          class="form-control form-control-no-border"
                          required>
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="status">Status</label>
                        <dropdown-status (statusEvent)="setStatus($event)"></dropdown-status>
                      </div>                           
                    </div>
                    <div class="row row-vcenter">       
                      <div class="col-md-3 mb-3">
                        <label for="time_shift">Tempo de turno</label>
                        <input 
                          numberOnly
                          name="time_shift" 
                          [(ngModel)]="channel.time_shift" 
                          #code="ngModel" 
                          type="text" 
                          class="form-control form-control-no-border">
                      </div>   
                      <div class="col-md-3 mb-3">
                        <label for="initial_turn">Início do turno</label>
                        <input 
                          name="initial_turn" 
                          class="form-control form-control-no-border"
                          placeholder="Hora inicial"
                          [(ngModel)]="channel.initial_turn"
                          #code="ngModel"
                          [owlDateTimeTrigger]="initialturn" [owlDateTime]="initialturn">
                        <owl-date-time [pickerType]="'timer'" #initialturn></owl-date-time>
                      </div>                        
                      <div class="col-md-3 mb-3">
                        <label for="initial_turn">Fim do turno</label>
                        <input 
                          name="final_turn" 
                          class="form-control form-control-no-border"
                          placeholder="Hora final"
                          [(ngModel)]="channel.final_turn"
                          #code="ngModel"
                          [owlDateTimeTrigger]="finalturn" [owlDateTime]="finalturn">
                        <owl-date-time [pickerType]="'timer'" #finalturn></owl-date-time>
                      </div> 
                      <div class="col-md-2 mb-3 vcenter">
                        <label for="spacer">&nbsp;</label>
                        <button 
                          [disabled]="!f.form.valid"
                          class="btn btn-no-border btn-primary btn-sm btn-block" 
                          type="submit">
                          Adicionar
                        </button>
                      </div>                                                  
                    </div>
                    <div 
                      *ngIf="channel.message" 
                      [ngClass]="(channel.error)?'alert alert-danger alert-margin':'alert alert-success alert-margin'">
                      {{channel.message}}
                    </div>    
                  </form>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row margin-bottom-5px" [ngStyle]="{'display': currentUser.admin == 1 ? 'block' : 'none'}">
        <div class="col-md-12 order-md-1">
          <div class="col-md-2 float-right">
            <button 
              (click)="delete()"
              class="btn btn-no-border btn-primary btn-sm btn-block" 
              type="button">
              Remover selecionada
            </button>
          </div>
        </div>  
      </div>      

      <div class="table-responsive">        
        <ag-grid-angular #agGrid
          style="width: 100%; height: 450px;"
          id="myGrid"
          class="ag-theme-balham"
          [columnDefs]="columnDefs"
          [components]="components"
          [enterMovesDownAfterEdit]="true"
          [enterMovesDown]="true"
          [animateRows]="true"
          [rowSelection]="rowSelection"
          (gridReady)="onGridReady($event)"
          enableColResize
          enableSorting
          enableFilter 
          [pagination]="true"
          [paginationPageSize]="paginationPageSize"
          (cellValueChanged)="onCellValueChanged($event)"
        ></ag-grid-angular>        

      </div>
    </main>
  </div>
</div>
