<nav class="col-md-2 d-none d-md-block bg-light sidebar" style="overflow-y: scroll;">
  <div class="sidebar-fixed margin-top-55">
    
    <ul class="nav flex-column">
      <li class="nav-item">
        <a [ngClass]="(linkActive=='dashboard')?'nav-link active':'nav-link'"  [routerLink]="['/dashboard']">
          <i-home class="feather"></i-home>
          Dashboard
        </a>
      </li>
    </ul>                
    <div [ngStyle]="{'display': currentUser.admin == 1 ? 'block' : 'none'}">
      <hr style="margin-top: 0.2rem" />
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-3 mb-1 text-muted">
        <span>Canal</span>
      </h6>
    </div>
    <ul class="nav flex-column mb-2">
      <li class="nav-item" [ngStyle]="{'display': currentUser.admin == 1 ? 'block' : 'none'}">
        <a [ngClass]="(linkActive=='channel')?'nav-link active':'nav-link'" [routerLink]="['/channel']">
          <i-plus-circle class="feather"></i-plus-circle>
          Criar canal
        </a>
      </li>
      <li class="nav-item" [ngStyle]="{'display': currentUser.admin == 1 ? 'block' : 'none'}">
        <a [ngClass]="(linkActive=='consultarMedicoes')?'nav-link active':'nav-link'" href="#">
          <i-eye class="feather"></i-eye>
          Consultar medições
        </a>
      </li>
      <li class="nav-item" [ngStyle]="{'display': currentUser.admin == 1 ? 'block' : 'none'}">
        <a [ngClass]="(linkActive=='deletarMedicoes')?'nav-link active':'nav-link'" href="#">
          <i-trash-2 class="feather"></i-trash-2>
          Deletar medições
        </a>
      </li>
      <li class="nav-item" [ngStyle]="{'display': currentUser.admin == 1 ? 'block' : 'none'}">
        <a [ngClass]="(linkActive=='medicaoManual')?'nav-link active':'nav-link'" href="#">
          <i-plus-circle class="feather"></i-plus-circle>
          Medição manual
        </a>
      </li>
    </ul>
    <hr style="margin-top: 0.2rem" />
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-3 mb-1 text-muted">
      <span>Máquina</span>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item" [ngStyle]="{'display': currentUser.admin == 1 ? 'block' : 'none'}">
        <a [ngClass]="(linkActive=='machine')?'nav-link active':'nav-link'" [routerLink]="['/machine']">
          <i-plus-circle class="feather"></i-plus-circle>
          Criar máquina
        </a>
      </li>   
      <li class="nav-item">
        <a [ngClass]="(linkActive=='machinepause')?'nav-link active':'nav-link'" [routerLink]="['/machinepause']">
          <i-pause-circle class="feather"></i-pause-circle>
          Apontar pausa na lista
        </a>
      </li>    
      <li class="nav-item">
        <a [ngClass]="(linkActive=='graphpause')?'nav-link active':'nav-link'" [routerLink]="['/graphpause']">
          <i-crosshair class="feather"></i-crosshair>
          Apontar pausa no gráfico
        </a>
      </li>                           
    </ul>
    <hr style="margin-top: 0.2rem" />
    <div [ngStyle]="{'display': currentUser.admin == 1 ? 'block' : 'none'}">
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-3 mb-1 text-muted">
        <span>Administração</span>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a [ngClass]="(linkActive=='user')?'nav-link active':'nav-link'" [routerLink]="['/user']">
            <i-plus-circle class="feather"></i-plus-circle>
            Criar usuário
          </a>
        </li> 
        <li class="nav-item">
          <a [ngClass]="(linkActive=='log')?'nav-link active':'nav-link'" href="#">
            <i-database class="feather"></i-database>
            Log
          </a>
        </li>
        <li class="nav-item">
          <a [ngClass]="(linkActive=='docs')?'nav-link active':'nav-link'" href="{{docsURL}}" target="_blank">
            <i-help-circle class="feather"></i-help-circle>
            Docs
          </a>
        </li>                                 
      </ul>
    </div>
  </div>
</nav>